制御計算_v1.6.0.json
[{"id":"499d1a71065e6191","type":"tab","label":"制御計算_v1.6.0","disabled":false,"info":"Node-redバージョン　v2.1.4"},{"id":"f30aeb20d938e502","type":"file in","z":"499d1a71065e6191","name":"ファイル読み込み","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":730,"y":140,"wires":[["8c3a148e5a111181"]]},{"id":"8c3a148e5a111181","type":"csv","z":"499d1a71065e6191","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":930,"y":140,"wires":[["59ef60445ebe5e0d"]]},{"id":"2af7b803deceb1b1","type":"inject","z":"499d1a71065e6191","name":"読み込み","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":140,"wires":[["59873c045f0b93eb"]]},{"id":"ca4c6c9f01fdcce6","type":"function","z":"499d1a71065e6191","name":"printに1つ代入","func":"msg.print = msg.payload[msg.count];\n//msg.payload = obj.toString();\n//msg.payload.toString = function{\n//    return msg.payload;\n//}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["610494fa49494974"]]},{"id":"59ef60445ebe5e0d","type":"join","z":"499d1a71065e6191","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":140,"wires":[["b452ea8016b58305"]]},{"id":"610494fa49494974","type":"json","z":"499d1a71065e6191","name":"","property":"print","action":"","pretty":true,"x":510,"y":200,"wires":[["011882f46fb2b251"]]},{"id":"011882f46fb2b251","type":"function","z":"499d1a71065e6191","name":"数字以外と最初の1を削除、数値変換","func":"//msg.payload = msg.payload.replace(/[^0-9a-z]/gi, '');\n//数字以外を削除（負も可）\nmsg.print = msg.print.replace(/[^0-9-.]/g, '');\nmsg.print = msg.print.slice(1);\nmsg.print = parseFloat(msg.print);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":200,"wires":[["7e1e8b0d0610b330"]]},{"id":"4e19e1402b2d6d30","type":"change","z":"499d1a71065e6191","name":"count,print,windの初期化","rules":[{"t":"set","p":"count","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"print","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"wind","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"f_switching","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"f_rpm","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["f30aeb20d938e502"]]},{"id":"9f2241882dcce96e","type":"function","z":"499d1a71065e6191","name":"count + 1","func":"msg.count += 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":260,"wires":[["b452ea8016b58305"]]},{"id":"b452ea8016b58305","type":"switch","z":"499d1a71065e6191","name":"カウント判定","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"600","vt":"num"},{"t":"gte","v":"600","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":200,"wires":[["ca4c6c9f01fdcce6"],["53067a8f5ed39df9"]]},{"id":"6b0c868dfeb59a80","type":"debug","z":"499d1a71065e6191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"end","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":320,"wires":[]},{"id":"18ed645360f51139","type":"change","z":"499d1a71065e6191","name":"Light is Green、wcount初期化、ループ終了宣言","rules":[{"t":"set","p":"light","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"end","pt":"msg","to":"代入終了","tot":"str"},{"t":"set","p":"wcount","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"countlimit","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":320,"wires":[["6b0c868dfeb59a80"]]},{"id":"d2070c48248411d8","type":"debug","z":"499d1a71065e6191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"wind","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":260,"wires":[]},{"id":"7e1e8b0d0610b330","type":"function","z":"499d1a71065e6191","name":"msg.window配列に追加","func":"//var i = flow.stack;\n//flow.window = new Array();\nmsg.wind.push(msg.print);\n//flow.window[msg.count] = flow.stack;\nreturn msg;\n//return flow;","outputs":1,"noerr":0,"initialize":"// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\nflow.window = new Array();","finalize":"","libs":[],"x":1050,"y":200,"wires":[["43082521d4506ef3"]]},{"id":"43082521d4506ef3","type":"change","z":"499d1a71065e6191","name":"msg array to flow array","rules":[{"t":"set","p":"out_wind","pt":"flow","to":"wind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":260,"wires":[["9f2241882dcce96e","d2070c48248411d8"]]},{"id":"4dace11c3f166b41","type":"inject","z":"499d1a71065e6191","name":"制御サブフロー","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":440,"wires":[["5ed77b08c171a7e3"]]},{"id":"abd386c2c5739737","type":"change","z":"499d1a71065e6191","name":"Light is Red","rules":[{"t":"set","p":"light","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"制御ノード停止","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":20,"wires":[["31b52bbc6db205a0"]]},{"id":"5ed77b08c171a7e3","type":"switch","z":"499d1a71065e6191","name":"stop or go","property":"light","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":440,"wires":[["86509526e3c989fb"]]},{"id":"7721601838bd9dbe","type":"change","z":"499d1a71065e6191","name":"flow wind to msg wind","rules":[{"t":"set","p":"t_rpm","pt":"msg","to":"out_wind[msg.localcount]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":440,"wires":[["86c0d72d5fb7f957"]]},{"id":"59873c045f0b93eb","type":"function","z":"499d1a71065e6191","name":"Light is Red","func":"return flow;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\nflow.set(\"light\",0);\n","finalize":"","x":260,"y":140,"wires":[["4e19e1402b2d6d30"]]},{"id":"506f6e276fe4e4c8","type":"inject","z":"499d1a71065e6191","name":"制御サブフロー強制ストップ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":160,"y":20,"wires":[["abd386c2c5739737"]]},{"id":"31b52bbc6db205a0","type":"debug","z":"499d1a71065e6191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":20,"wires":[]},{"id":"7ffc8033d2efb892","type":"change","z":"499d1a71065e6191","name":"Light is Green","rules":[{"t":"set","p":"light","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"強制スタート","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["ad9e91ad40d7c991"]]},{"id":"b53ce49ebeaddded","type":"inject","z":"499d1a71065e6191","name":"制御サブフロー手動スタート","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":160,"y":80,"wires":[["7ffc8033d2efb892"]]},{"id":"ad9e91ad40d7c991","type":"debug","z":"499d1a71065e6191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"86509526e3c989fb","type":"change","z":"499d1a71065e6191","name":"カウント値を引き継ぎ","rules":[{"t":"set","p":"localcount","pt":"msg","to":"wcount","tot":"flow"},{"t":"set","p":"nextcount","pt":"msg","to":"localcount","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":440,"wires":[["d88f65a2e6310cda"]]},{"id":"d88f65a2e6310cda","type":"switch","z":"499d1a71065e6191","name":"カウント判定","property":"localcount","propertyType":"msg","rules":[{"t":"gte","v":"countlimit","vt":"flow"},{"t":"lt","v":"countlimit","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":440,"wires":[["f7f61780a3b90c07"],["b77caf2816412522"]]},{"id":"f7f61780a3b90c07","type":"change","z":"499d1a71065e6191","name":"Light is Red","rules":[{"t":"set","p":"light","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"end","pt":"msg","to":"制御終了","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":400,"wires":[["45c623d121f06855"]]},{"id":"45c623d121f06855","type":"debug","z":"499d1a71065e6191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"end","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":400,"wires":[]},{"id":"a2b83e0e461b59d2","type":"change","z":"499d1a71065e6191","name":"回転数読み込み","rules":[{"t":"set","p":"r_rpm","pt":"msg","to":"out_rpm","tot":"global"},{"t":"set","p":"rn_rpm","pt":"msg","to":"f_rpm","tot":"flow"},{"t":"set","p":"rp1_rpm","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"tilt_r","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"tilt_t","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"sub","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":520,"wires":[["757b0f3f27322ced"]]},{"id":"d4edeaac32922769","type":"file","z":"499d1a71065e6191","name":"回転値用ログCSV作成","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":420,"y":320,"wires":[["18ed645360f51139"]]},{"id":"53067a8f5ed39df9","type":"function","z":"499d1a71065e6191","name":"回転ログ初回書き込み","func":"//msg.payload = \"10,20,30\\n\";\nmsg.payload = \"hour,min,seconds,target rpm,real rpm,servo\" + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":320,"wires":[["d4edeaac32922769"]]},{"id":"108a957fa8f65151","type":"change","z":"499d1a71065e6191","name":"カウントをflowに格納","rules":[{"t":"set","p":"wcount","pt":"flow","to":"localcount","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":520,"wires":[["a2b83e0e461b59d2"]]},{"id":"b77caf2816412522","type":"function","z":"499d1a71065e6191","name":"","func":"msg.nextcount = msg.nextcount + 1; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":440,"wires":[["7721601838bd9dbe"]]},{"id":"0d62a3fcf0910950","type":"switch","z":"499d1a71065e6191","name":"実際の回転値が制御目標を上回るか","property":"sub","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":640,"wires":[["4b5c93500d2bbd42"],["4f668d79ecd84aba"]]},{"id":"757b0f3f27322ced","type":"function","z":"499d1a71065e6191","name":"制御目標と現在の回転数の比較","func":"msg.sub = msg.r_rpm - msg.t_rpm; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":640,"wires":[["0d62a3fcf0910950"]]},{"id":"86c0d72d5fb7f957","type":"function","z":"499d1a71065e6191","name":"localcount + 1","func":"msg.localcount += 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":520,"wires":[["108a957fa8f65151"]]},{"id":"691a52809f7d6504","type":"pi-gpiod out","z":"499d1a71065e6191","name":"サーボモータに出力","host":"localhost","port":8888,"pin":"21","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"10","x":1120,"y":680,"wires":[]},{"id":"d9f29dfe77650156","type":"file","z":"499d1a71065e6191","name":"簡易制御用回転ログ.csv","filename":"/home/pi/node--red_log/簡易制御用回転ログ.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1310,"y":600,"wires":[["37ee29e165e38390"]]},{"id":"c0b15dfe87b35440","type":"function","z":"499d1a71065e6191","name":"csv書き込み","func":"//var i = msg.localcount - 1;\nmsg.time = new Date();\nmsg.time.setTime(msg.time.getTime());\nmsg.hour = msg.time.getHours();\nmsg.min = msg.time.getMinutes();\nmsg.seconds = msg.time.getSeconds();\n//msg.payload = String(msg.hour) + \",\" + String(msg.min) + \",\"\n//+ String(msg.seconds) + \",\" + String(msg.localwindow) + \",\"\n//+ String(msg.rpm2window) + \",\" + String(msg.sub) + \",\"\n//+ String(msg.localrpm) + \",\" + msg.posiornega + \"\\n\";\nmsg.payload = String(msg.hour) + \",\" + String(msg.min) + \",\" + String(msg.seconds) + \",\"\n+ String(msg.t_rpm) + \",\" + String(msg.r_rpm) + \",\" +  String(msg.payload) + \",\" + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":600,"wires":[["d9f29dfe77650156"]]},{"id":"4b5c93500d2bbd42","type":"function","z":"499d1a71065e6191","name":"上回りブレーキを強める","func":"const min = 72\nvar survo_arry = new Array(77,76,75,74,73,72);\nvar rot_arry = new Array(810.168683463564,676.9050187,453.821888,\n330.521402,257.634254,0);\n\nvar substance = Math.abs(msg.sub);\n\n//開放状態の回転値が800台なので最大1000rpm\nvar x = substance/900;\n\nvar goal = msg.r_rpm;\nvar val1 = rot_arry.reduce((prev, curr) => {\n  return (Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev);\n});\n\nindex = rot_arry.indexOf(val1);\ngoal = -(survo_arry[index] - min) * x + survo_arry[index];\nvar val2 = survo_arry.reduce((prev, curr) => {\n  return (Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev);\n});\n\n//if (val2 == 85.5){\n//    val2 = 88;\n//}\n\nmsg.payload = val2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":600,"wires":[["691a52809f7d6504","c0b15dfe87b35440"]]},{"id":"4f668d79ecd84aba","type":"function","z":"499d1a71065e6191","name":"下回りブレーキを弱める","func":"const max = 77\nvar survo_arry = new Array(77,76,75,74,73,72);\nvar rot_arry = new Array(810.168683463564,676.9050187,453.821888,\n330.521402,257.634254,0);\n\nvar substance = Math.abs(msg.sub);\n\n//開放状態の回転値が800台なので最大1000rpm\nvar x = substance/900;\n\nvar goal = msg.r_rpm;\nvar val1 = rot_arry.reduce((prev, curr) => {\n  return (Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev);\n});\n\nindex = rot_arry.indexOf(val1);\ngoal = (max - survo_arry[index]) * x + survo_arry[index];\nvar val2 = survo_arry.reduce((prev, curr) => {\n  return (Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev);\n});\n\n//if (val2 == 85.5){\n//    val2 = 88;\n//}\n\nmsg.payload = val2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":680,"wires":[["691a52809f7d6504","c0b15dfe87b35440"]]},{"id":"37ee29e165e38390","type":"debug","z":"499d1a71065e6191","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":600,"wires":[]}]