回転計フロー_v5.0.2.json
[{"id":"20eb7b0d2a0eede5","type":"tab","label":"回転計フロー_v5.0.2","disabled":false,"info":"Node-redバージョン　v2.1.4","env":[]},{"id":"c618c510fb10af65","type":"serial in","z":"20eb7b0d2a0eede5","name":"","serial":"a73601e4.f5a16","x":90,"y":60,"wires":[["9a6bfb774ea3d06c"]]},{"id":"9a6bfb774ea3d06c","type":"function","z":"20eb7b0d2a0eede5","name":"数値変換","func":"msg.payload = msg.payload - 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":60,"wires":[["6e2a89d6669d8759"]]},{"id":"4c0f9806ccddcd4c","type":"change","z":"20eb7b0d2a0eede5","name":"制御サブフローに渡す","rules":[{"t":"set","p":"out_rpm","pt":"global","to":"rpm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":60,"wires":[["904e480163df9378"]]},{"id":"6e2a89d6669d8759","type":"switch","z":"20eb7b0d2a0eede5","name":"白を検知","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"","vt":"prev"},{"t":"gte","v":"","vt":"prev"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":60,"wires":[["d9c3d797948ce92f"],["c5317b01a26d3b90"]]},{"id":"7eb45d2a94413be3","type":"function","z":"20eb7b0d2a0eede5","name":"間隔からrpm","func":"//msg.rpm = 60/(0.000446 * msg.rpm);\nmsg.rpm = 60/(0.0005 * 2 * msg.rpm);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":60,"wires":[["95de07e286dd4108"]]},{"id":"c5317b01a26d3b90","type":"change","z":"20eb7b0d2a0eede5","name":"","rules":[{"t":"set","p":"max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":120,"wires":[["a7b40ce18235c65e"]]},{"id":"d9c3d797948ce92f","type":"change","z":"20eb7b0d2a0eede5","name":"msg.rpmに記録","rules":[{"t":"set","p":"rpm","pt":"msg","to":"max","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":60,"wires":[["7eb45d2a94413be3"]]},{"id":"95de07e286dd4108","type":"switch","z":"20eb7b0d2a0eede5","name":"","property":"rpm","propertyType":"msg","rules":[{"t":"lt","v":"1000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":60,"wires":[["4c0f9806ccddcd4c"]]},{"id":"904e480163df9378","type":"debug","z":"20eb7b0d2a0eede5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"rpm","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":60,"wires":[]},{"id":"a7b40ce18235c65e","type":"debug","z":"20eb7b0d2a0eede5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"a73601e4.f5a16","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]